generate-recipe-n8n.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-recipe",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "46be85c7-d869-4787-9a8e-c77715c91dfc",
      "name": "Webhook",
      "webhookId": "584d5e6b-0e54-4d64-9df6-5212b4d9c912"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are part of a workflow of an application that lets you enter the ingredients you have at home and generates recipes based on those ingredients and preferences.\nYour task is:\n- to recieve all ingredients and preferences\n- to generate exactly three recipes based on this data. They should be based on the ingredients the user has at home but can add other ingredients to improve the recipes. ingredients at home and extra ingredients should be returned as seperate fields.\n- return all three in json format\n\nEach recipe-json should include the following key-value pairs:\n- title: the name of the recipe\n- cookingTime: time to prepare this recipe\n- nutritionalInformation: values for calories, proteins, fats and carbs\n- preferences: a list of all the preferences given (cookingTime, cuisine, dietPreferences). If not value is given for one these do not return a value for this specific option\n- cooksAmount: amount of cooks\n- ingredients: a json containing two other jsons with the keys \"yourIngredients\" and \"extraIngredients\". The ingredients in this field should have the same data-format as given in the input-data, except for the \"isEditMode\"-flag.\n- directions: a json containing each step as a seperate json with these fields: order, title, description, cook (number indicating which cook should do this step, based on \"cooksAmount\")\n\nMAKE SURE THAT THE RECIPES ALWAYS FOLLOW THIS EXACT STRUCTURE. RETURN A JSON CONTAINING ONLY THESE THREE RECIPES WITHOUT ANY OTHER DATA OR TEXT!\n\nRecipe-data:\n\n{{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "5ee198b9-d4d2-4a34-baa5-eb70370fe005",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        0
      ],
      "id": "c7f7827c-43f5-4814-823c-619df3472549",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "6078fc6f-fa3a-460c-8467-36ee5dc77a58",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4DPdqBRuAYfJMoni",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse(\n    $input.first().json.output\n      .replace(/```json|```/g, '')\n      .replace(/^json\\\\n/, '')\n      .replace(/\\\\n/g, '\\n')\n      .replace(/\\\\\"/g, '\"')\n      .trim()\n  );"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ],
      "id": "88efdeba-d616-41ec-86c2-e8d0eb6c5957",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "```json\n[\n  {\n    \"title\": \"Fusion Beef & Potato Skillet with Fresh Tomato-Onion Salsa\",\n    \"cookingTime\": \"40 minutes\",\n    \"nutritionalInformation\": {\n      \"calories\": \"650 kcal\",\n      \"proteins\": \"45g\",\n      \"fats\": \"35g\",\n      \"carbs\": \"40g\"\n    },\n    \"preferences\": {\n      \"cookingTime\": \"Medium\",\n      \"cuisine\": \"fusion\",\n      \"dietPreferences\": \"no preferences\"\n    },\n    \"cooksAmount\": 1,\n    \"ingredients\": {\n      \"yourIngredients\": [\n        {\n          \"ingredient\": \"Ground Beef\",\n          \"servingSize\": \"300g\"\n        },\n        {\n          \"ingredient\": \"Potato\",\n          \"servingSize\": \"3\"\n        },\n        {\n          \"ingredient\": \"Onion\",\n          \"servingSize\": \"2\"\n        },\n        {\n          \"ingredient\": \"Tomato\",\n          \"servingSize\": \"1\"\n        }\n      ],\n      \"extraIngredients\": [\n        {\n          \"ingredient\": \"Garlic\",\n          \"servingSize\": \"2 cloves\"\n        },\n        {\n          \"ingredient\": \"Olive Oil\",\n          \"servingSize\": \"2 tbsp\"\n        },\n        {\n          \"ingredient\": \"Salt\",\n          \"servingSize\": \"1 tsp\"\n        },\n        {\n          \"ingredient\": \"Black Pepper\",\n          \"servingSize\": \"1/2 tsp\"\n        },\n        {\n          \"ingredient\": \"Smoked Paprika\",\n          \"servingSize\": \"1 tsp\"\n        },\n        {\n          \"ingredient\": \"Cumin Powder\",\n          \"servingSize\": \"1/2 tsp\"\n        },\n        {\n          \"ingredient\": \"Cilantro\",\n          \"servingSize\": \"1/4 cup (fresh, chopped)\"\n        },\n        {\n          \"ingredient\": \"Lime\",\n          \"servingSize\": \"1/2 (for juice)\"\n        }\n      ]\n    },\n    \"directions\": [\n      {\n        \"order\": 1,\n        \"title\": \"Prep Vegetables\",\n        \"description\": \"Dice potatoes into 1/2 inch cubes. Dice one onion and mince garlic. Dice the tomato and the remaining onion into small cubes for salsa, combine in a separate bowl.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 2,\n        \"title\": \"Cook Potatoes\",\n        \"description\": \"Heat 1 tbsp olive oil in a large skillet over medium heat. Add diced potatoes and cook until tender and slightly browned, about 15-20 minutes. Season with salt and pepper. Remove from skillet and set aside.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 3,\n        \"title\": \"Cook Beef & Onion\",\n        \"description\": \"In the same skillet, add remaining 1 tbsp olive oil. Add diced onion and cook until softened, about 5 minutes. Add ground beef and minced garlic, breaking up the beef with a spoon. Cook until browned. Drain excess fat if needed.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 4,\n        \"title\": \"Season Beef\",\n        \"description\": \"Stir in smoked paprika, cumin powder, 1/2 tsp salt, and 1/4 tsp black pepper into the beef mixture. Cook for another 2 minutes, stirring constantly.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 5,\n        \"title\": \"Combine & Finish Skillet\",\n        \"description\": \"Return cooked potatoes to the skillet with the beef. Mix well and cook for 5 minutes more to let flavors meld.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 6,\n        \"title\": \"Prepare Salsa\",\n        \"description\": \"To the diced tomato and onion (for salsa), add chopped cilantro, the juice of half a lime, and a pinch of salt. Mix well.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 7,\n        \"title\": \"Serve\",\n        \"description\": \"Serve the beef and potato skillet hot, topped with a generous spoonful of the fresh tomato-onion salsa.\",\n        \"cook\": 1\n      }\n    ]\n  },\n  {\n    \"title\": \"Hearty Beef & Potato Stew with Global Flavors\",\n    \"cookingTime\": \"50 minutes\",\n    \"nutritionalInformation\": {\n      \"calories\": \"700 kcal\",\n      \"proteins\": \"50g\",\n      \"fats\": \"40g\",\n      \"carbs\": \"45g\"\n    },\n    \"preferences\": {\n      \"cookingTime\": \"Medium\",\n      \"cuisine\": \"fusion\",\n      \"dietPreferences\": \"no preferences\"\n    },\n    \"cooksAmount\": 1,\n    \"ingredients\": {\n      \"yourIngredients\": [\n        {\n          \"ingredient\": \"Ground Beef\",\n          \"servingSize\": \"300g\"\n        },\n        {\n          \"ingredient\": \"Potato\",\n          \"servingSize\": \"3\"\n        },\n        {\n          \"ingredient\": \"Onion\",\n          \"servingSize\": \"2\"\n        },\n        {\n          \"ingredient\": \"Tomato\",\n          \"servingSize\": \"1\"\n        }\n      ],\n      \"extraIngredients\": [\n        {\n          \"ingredient\": \"Vegetable Oil\",\n          \"servingSize\": \"1 tbsp\"\n        },\n        {\n          \"ingredient\": \"Garlic\",\n          \"servingSize\": \"3 cloves\"\n        },\n        {\n          \"ingredient\": \"Ginger\",\n          \"servingSize\": \"1 inch piece\"\n        },\n        {\n          \"ingredient\": \"Curry Powder\",\n          \"servingSize\": \"1 tbsp\"\n        },\n        {\n          \"ingredient\": \"Turmeric Powder\",\n          \"servingSize\": \"1/2 tsp\"\n        },\n        {\n          \"ingredient\": \"Beef Broth\",\n          \"servingSize\": \"1 cup\"\n        },\n        {\n          \"ingredient\": \"Salt\",\n          \"servingSize\": \"1 tsp\"\n        },\n        {\n          \"ingredient\": \"Black Pepper\",\n          \"servingSize\": \"1/2 tsp\"\n        },\n        {\n          \"ingredient\": \"Fresh Parsley/Cilantro\",\n          \"servingSize\": \"2 tbsp (for garnish)\"\n        }\n      ]\n    },\n    \"directions\": [\n      {\n        \"order\": 1,\n        \"title\": \"Prep Ingredients\",\n        \"description\": \"Peel and chop potatoes into 1-inch cubes. Chop onions. Mince garlic and grate ginger. Dice the fresh tomato.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 2,\n        \"title\": \"Brown Beef\",\n        \"description\": \"Heat vegetable oil in a large pot or Dutch oven over medium-high heat. Add ground beef and cook, breaking it up, until browned. Drain excess fat and set beef aside.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 3,\n        \"title\": \"Sauté Aromatics\",\n        \"description\": \"In the same pot, add chopped onions and cook until softened, about 5-7 minutes. Add minced garlic and grated ginger, cook for 1 minute until fragrant.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 4,\n        \"title\": \"Add Spices\",\n        \"description\": \"Stir in curry powder and turmeric powder. Cook for 1 minute, stirring constantly, to toast the spices.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 5,\n        \"title\": \"Build Stew\",\n        \"description\": \"Return browned beef to the pot. Add chopped potatoes, diced fresh tomato, and beef broth. Season with 1 tsp salt and 1/2 tsp black pepper.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 6,\n        \"title\": \"Simmer\",\n        \"description\": \"Bring the stew to a boil, then reduce heat to low, cover, and simmer for 30-35 minutes, or until potatoes are tender and flavors have melded. Stir occasionally.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 7,\n        \"title\": \"Finish & Serve\",\n        \"description\": \"Taste and adjust seasoning if necessary. Garnish with fresh parsley or cilantro before serving.\",\n        \"cook\": 1\n      }\n    ]\n  },\n  {\n    \"title\": \"Mediterranean-Inspired Beef & Potato Kofta with Roasted Tomato-Onion\",\n    \"cookingTime\": \"45 minutes\",\n    \"nutritionalInformation\": {\n      \"calories\": \"680 kcal\",\n      \"proteins\": \"48g\",\n      \"fats\": \"38g\",\n      \"carbs\": \"42g\"\n    },\n    \"preferences\": {\n      \"cookingTime\": \"Medium\",\n      \"cuisine\": \"fusion\",\n      \"dietPreferences\": \"no preferences\"\n    },\n    \"cooksAmount\": 1,\n    \"ingredients\": {\n      \"yourIngredients\": [\n        {\n          \"ingredient\": \"Ground Beef\",\n          \"servingSize\": \"300g\"\n        },\n        {\n          \"ingredient\": \"Potato\",\n          \"servingSize\": \"3\"\n        },\n        {\n          \"ingredient\": \"Onion\",\n          \"servingSize\": \"2\"\n        },\n        {\n          \"ingredient\": \"Tomato\",\n          \"servingSize\": \"1\"\n        }\n      ],\n      \"extraIngredients\": [\n        {\n          \"ingredient\": \"Breadcrumbs\",\n          \"servingSize\": \"1/4 cup\"\n        },\n        {\n          \"ingredient\": \"Egg\",\n          \"servingSize\": \"1 large\"\n        },\n        {\n          \"ingredient\": \"Garlic Powder\",\n          \"servingSize\": \"1 tsp\"\n        },\n        {\n          \"ingredient\": \"Dried Oregano\",\n          \"servingSize\": \"1 tsp\"\n        },\n        {\n          \"ingredient\": \"Salt\",\n          \"servingSize\": \"1 tsp\"\n        },\n        {\n          \"ingredient\": \"Black Pepper\",\n          \"servingSize\": \"1/2 tsp\"\n        },\n        {\n          \"ingredient\": \"Olive Oil\",\n          \"servingSize\": \"2 tbsp\"\n        },\n        {\n          \"ingredient\": \"Lemon Juice\",\n          \"servingSize\": \"1 tbsp\"\n        },\n        {\n          \"ingredient\": \"Fresh Mint/Parsley\",\n          \"servingSize\": \"2 tbsp (chopped, for garnish)\"\n        }\n      ]\n    },\n    \"directions\": [\n      {\n        \"order\": 1,\n        \"title\": \"Prep Kofta Mixture\",\n        \"description\": \"Peel and finely grate one potato. Finely chop one onion. In a large bowl, combine ground beef, grated potato, chopped onion, breadcrumbs, egg, garlic powder, dried oregano, 1/2 tsp salt, and 1/4 tsp black pepper. Mix well until thoroughly combined.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 2,\n        \"title\": \"Form Kofta\",\n        \"description\": \"Divide the mixture into 6-8 equal portions and shape them into elongated patties or small sausage-like shapes (kofta).\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 3,\n        \"title\": \"Prepare Roasted Vegetables\",\n        \"description\": \"Cut the remaining two potatoes into wedges. Slice the remaining onion and the tomato into thick rings. Toss potatoes, onion, and tomato with 1 tbsp olive oil, 1/2 tsp salt, and 1/4 tsp black pepper on a baking sheet.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 4,\n        \"title\": \"Roast Vegetables\",\n        \"description\": \"Preheat oven to 200°C (400°F). Roast the vegetables for 25-30 minutes, flipping halfway, until tender and lightly charred.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 5,\n        \"title\": \"Cook Kofta\",\n        \"description\": \"While vegetables are roasting, heat 1 tbsp olive oil in a large skillet over medium-high heat. Add kofta and cook for 4-5 minutes per side, until browned and cooked through.\",\n        \"cook\": 1\n      },\n      {\n        \"order\": 6,\n        \"title\": \"Serve\",\n        \"description\": \"Serve the cooked kofta alongside the roasted potatoes, onions, and tomatoes. Drizzle with lemon juice and garnish with fresh mint or parsley.\",\n        \"cook\": 1\n      }\n    ]\n  }\n]\n```"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9604dd78-a3d7-476b-8f70-9969b349834a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c3d82778fe390a8a96b680fce69390d06ef8ca6ee4f3b830ea49e7ddde74fba"
  },
  "id": "eudRn2Jv9x4g2pLx",
  "tags": []
}